name: Release
on:
  push:
    branches:
      - master
jobs:
  tag:
    runs-on: ubuntu-latest
    env:
      upstream: jainishshah17/tugger
    steps:
      - uses: actions/checkout@v3
      - name: create tag
        if: github.repository == env.upstream
        run: |
          set -x
          git fetch --all --tags
          sudo pip install yq
          TARGET_TAG=v$(yq .version -r < chart/tugger/Chart.yaml)
          git tag $TARGET_TAG || exit 0
          git push origin $TARGET_TAG
      - name: sync tags
        if: github.repository != env.upstream
        run: |
          set -x
          git fetch --tags https://github.com/${{ env.upstream }}.git
          git push --tags
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v3.1
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: chart
